button[mat-flat-button] {
  text-transform: uppercase; /* Deixa o texto em maiúsculas */
  font-size: 0.75rem; /* Reduz o tamanho da fonte */
  padding: 0.4rem 0.8rem; /* Ajusta o espaçamento interno */
  background-color: darkgoldenrod !important; /* Define uma cor de fundo diferente */
  color: #e0e0e0 !important; /* Define a cor do texto */
  border-radius: 5px; /* Suaviza os cantos */
  transition: background-color 0.3s ease; /* Anima a mudança de cor */
  border: 1px solid darkgoldenrod !important; /* Moldura */
}

button[mat-flat-button]:hover {
  background-color: #c8c8c8; /* Cor de fundo ao passar o mouse */
}

.mat-mdc-button {
  font-family: 'Oswald' !important;
  font-size: 10pt !important;
  // border: 1px solid rgb(68, 5, 18) !important;
  cursor: pointer !important;
}

.mat-mdc-button-disabled {
  background-color: #d8c5b0 !important;
  color: black !important;
}

.mat-icon {
  cursor: pointer !important;
  margin-left: 5% !important;
}

.btn {
  border: 1px solid darkgoldenrod !important;
  background-color: rgb(40, 6, 75) !important;
  color: darkgoldenrod !important;
  padding: 1% !important;
  margin: 1% !important;
}
