.mdc-card {
  background-color: rgb(40, 6, 75) !important;
  margin-bottom: 1% !important;

  box-shadow:
    0 6px 12px rgba(0, 0, 0, 0.2),
    0 18px 40px rgba(0, 0, 0, 0.14),
    0 40px 80px rgba(0, 0, 0, 0.08),
    0 0 40px rgba(255, 140, 0, 0.08) !important;
}

.mdc-card .card-game {
  margin-bottom: 20% !important;
}

.mat-mdc-card {
  width: 100% !important;
  //   padding: 1% !important;
  // margin: 1% !important;
  // border: 5px solid #440512 !important; /* moldura */
  border-radius: 10px !important; /* Arredonda os cantos */
  border: 2px solid darkgoldenrod !important; /* Moldura */
}

.mdc-card .card-game {
  margin-top: 1% !important;
  margin-bottom: 1% !important;
  height: 99% !important;
  color: rgb(199, 199, 199) !important;
  background-color: rebeccapurple !important;
  text-align: justify !important;
  border-radius: 10px !important; /* Arredonda os cantos */

  .mat-mdc-card-title {
    background-color: rgb(68, 5, 18) !important;
    text-align: center !important;
    font-weight: bold !important;
    padding: 10px !important;
    font-family: 'Oswald' !important;
    border-radius: 5px !important; /* Arredonda os cantos */
    border: 1px solid darkgoldenrod !important; /* Moldura */
  }

  .mat-mdc-card-content {
    overflow-y: auto !important;
    overflow-x: auto !important;
    font-family: 'Oswald' !important;
    background-color: #310d0d !important;
  }

  .mat-mdc-card-content .mat-mdc-card-content-game {
    overflow-y: auto !important;
    overflow-x: auto !important;
    font-family: 'Oswald' !important;
    background-color: #310d0d !important;
  }
}

.mdc-card .card-game label {
  color: #3b1e0c !important;
}

.mat-card-title {
  color: darkgoldenrod !important;
}
