input {
  text-align: center !important;
  width: 100% !important;

  input[type='number' i] {
    text-align: center !important;
    border: 1px solid rgb(120, 80, 160) !important;
    border-radius: 5px !important;
  }
}
