p {
  text-align: justify !important;
}

h2,
h4,
h5 {
  margin-top: 1% !important;
  color: darkgoldenrod !important;
}

b {
  color: darkgoldenrod !important;
}

.negrito-centralizado > b {
  text-align: center !important;
}

label {
  color: darkgoldenrod !important;
}

hr {
  margin-left: 2%;
  margin-right: 2% !important;
}

.maiuscula-laranja-larga-negrito {
  text-transform: uppercase !important;
  color: darkgoldenrod !important;
  font-size: large !important;
  font-weight: bold;
  margin: 2%;
}

.maiuscula-laranja-larga {
  text-transform: uppercase !important;
  color: darkgoldenrod !important;
  font-size: large !important;
  padding: auto !important;
}
