p {
  text-align: justify !important;
}

h2,
h4,
h5 {
  margin-top: 1% !important;
  color: orange !important;
}

b {
  color: orange !important;
}

.negrito-centralizado > b {
  text-align: center !important;
}

label {
  color: orange !important;
}
