p {
  text-align: justify !important;
  color: #b8b1c2 !important;
  font-size: medium !important;
}

h2,
h4,
h5 {
  margin-top: 1% !important;
  color: #fbc901 !important;
}

b {
  color: #fbc901 !important;
}

.negrito-centralizado > b {
  text-align: center !important;
}

label {
  color: #fbc901 !important;
}

hr {
}

.maiuscula-laranja-larga-negrito {
  text-transform: uppercase !important;
  color: #fbc901 !important;
  font-size: large !important;
  font-weight: bold;
  padding-bottom: 1% !important;
}

.maiuscula-laranja-larga {
  text-transform: uppercase !important;
  color: #fbc901 !important;
  font-size: small !important;
  padding: auto !important;
}

.maiuscula-laranja-larga-negrito-center {
  color: #fbc901 !important;
  font-size: large !important;
  font-weight: bold;
  text-align: center !important;
  padding-bottom: 1% !important;
  padding-top: 5%;
}

.maiuscula-laranja-xxlarga-negrito-center {
  color: #fbc901 !important;
  font-size: x-large !important;
  font-weight: bold;
  text-align: center !important;
  padding-bottom: 1% !important;
  padding-top: 5%;
}

.text-justify {
  text-align: justify;
}
