html,
body {
  width: 100% !important; /* Define percentual de uso de largura da terra */
  height: 100%; /* Define percentual de uso de altura da terra */
  // background-color: #e5e7eb; // rgb(68, 5, 18) !important;
  font-family: 'Oswald' !important;
  margin: 0;
  font-weight: normal; /* Pode ser 'bold' ou outros valores se necessário */
  font-style: normal; /* Pode ser 'italic' ou outros estilos */
  font-size: 10pt !important; /* Tamanho padrão da fonte */
}

header,
.cabecalho {
  width: 100% !important; /* Define percentual de comprimento do header preferir */
  height: 40% !important; /* Define percentual de altura do header preferir */
  background-image: url('assets/img/banner.png') !important; /* Substitua pelo caminho da sua imagem */
  max-height: 40% !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  object-fit: contain; /* Mantém as proporções */
  border-bottom: 5px solid rgb(68, 5, 18) !important; /* Moldura */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */
  padding: 10px; /* Espaço entre a imagem e a borda */
  font-family: 'Oswald' !important;

  // @media (max-width: 768px) {
  //   background-image: url('assets/img/banner.png') !important;
  //   height: 25% !important; // ajuste se quiser um banner menor no celular
  // }
}
