// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use 'styles/card.scss';

@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
html,
body {
  width: 100% !important; /* Define percentual de uso de largura da terra */
  height: 100%; /* Define percentual de uso de altura da terra */
  background-color: rebeccapurple !important;
  font-family: 'Oswald' !important;
  margin: 0;
  font-weight: normal; /* Pode ser 'bold' ou outros valores se necessário */
  font-style: normal; /* Pode ser 'italic' ou outros estilos */
  font-size: 10pt !important; /* Tamanho padrão da fonte */
}

header,
.cabecalho {
  width: 100% !important; /* Define percentual de comprimento do header preferir */
  height: 50% !important; /* Define percentual de altura do header preferir */
  background-image: url('assets/img/banner_site.png') !important; /* Substitua pelo caminho da sua imagem */
  max-height: 50% !important;
  background-color: rebeccapurple !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  object-fit: contain; /* Mantém as proporções */
  border-bottom: 5px solid rgb(68, 5, 18) !important; /* Moldura */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */
  padding: 10px; /* Espaço entre a imagem e a borda */
  font-family: 'Oswald' !important;

  @media (max-width: 768px) {
    background-image: url('assets/img/preview-flexpunkd20.png') !important;
    height: 25% !important; // ajuste se quiser um banner menor no celular
  }
}
